.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    border-bottom: 2px solid var(--color-gray);
}

.favicon {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favicon h1 {
    cursor: pointer;
    letter-spacing: 4px;
    color: var(--color-orange);
    font-size: 3rem;
}

.favicon img {
    width: 50px;
}

.header input {
    width: 30%;
    padding: 10px 20px;
    border: 2px solid var(--color-gray);
    border-radius: 3px;
    font-size: 1rem;
    color: var(--color-orange);
}

.dropbtn {
    font-weight: 600;
    color: var(--color-lightgray);
    padding: 5px;
}
  
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown_menu {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid var(--color-lightgray);
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    right: 0;
}
  
.dropdown_menu p {
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--color-lightgray);
    padding: 12px 16px;
    display: block;
}

.dropdown_menu p:hover, .cart p:hover {
    color: var(--color-orange)
}
  
.dropdown:hover .dropdown_menu {
    display: block;
}
  
.dropdown:hover .dropbtn {
    color: var(--color-orange);
}

.cart p {
    cursor: pointer;
    color: var(--color-lightgray);
    font-weight: 600;
}