.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    border-bottom: 2px solid var(--color-gray);
}

.favicon {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favicon h1 {
    cursor: pointer;
    letter-spacing: 4px;
    color: var(--color-orange);
    font-size: 3rem;
}

.favicon img {
    width: 50px;
}

.header input {
    width: 30%;
    padding: 10px 20px;
    border: 2px solid var(--color-gray);
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
}

.header input:focus {
    border-color: var(--color-orange);
}

.dropbtn {
    font-weight: 600;
    color: var(--color-lightgray);
    padding: 15px 0;
    cursor: pointer;
}
  
.dropdown {
    /* cursor: pointer; */
    position: relative;
    display: inline-block;
}

.dropdown_menu {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid var(--color-lightgray);
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    right: 0;
}

.dropdown_menu_6 {
    animation: growDown .25s ease-in-out forwards;
    transform-origin: top center
}

.dropdown_menu p {
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--color-lightgray);
    padding: 12px 0;
    display: block;
}

.dropdown_menu p:hover, .cart p:hover {
    color: var(--color-orange)
}
  
.dropdown:hover .dropdown_menu, .dropdown:hover .dropdown_menu_animated {
    display: block;
}
  
.dropdown:hover .dropbtn {
    color: var(--color-orange);
}

.cart p {
    cursor: pointer;
    color: var(--color-lightgray);
    font-weight: 600;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields h3 {
    color: var(--color-orange);
}

.fields button {
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
    padding: 5px;
    background-color: var(--color-lightgreen);
    border: 1px solid transparent;
    border-radius: 3px;
}

.fields button:hover {
    background-color: #fff;
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

.field {
    width: 100%;
    padding: 5px 0;
}

.field input {
    width: auto;
    border: 1px solid var(--color-lightgray);
    outline: none;
}

.field input::placeholder {
    color: var(--color-lightgray);
}

.field input:focus {
    border-color: var(--color-orange);
}

.register_btn {
    font-size: .9rem;
    text-decoration: none;
    color: var(--color-lightgray);
    padding: 10px;
    font-weight: 600;
}

.register_btn:hover {
    color: var(--color-gray);
}

.error {
    color: var(--color-red);
    font-size: .9rem;
    margin-top: 10px;
    font-weight: 600;
}

.accountInfo {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: auto;
}

.noPhoto {
    width: 50px;
    height: 50px;
    background-color: var(--color-lightgray);
    border-radius: 50%;
    margin: 10px;
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
}

@keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg)
    }
    70% {
      transform: rotateX(20deg)
    }
    100% {
      transform: rotateX(0deg)
    }
  }